{% extends 'layout.html' %}

{% block title %}addcostumers{% endblock %}

{% block content %}
{% autoescape false %}

<h2>Add Costumers</h2>
<div>
    <p>Enter costumer details:</p>
    <form action="{{ url_for('addcostumers') }}" method="post" autocomplete="off">
        <label for="costumername">Costumer name:</label><br>
        <input type="text" id="costumername" name="costumername" required><br>
        <label for="costumeremail">Costumer email:</label><br>
        <input type="email" id="costumeremail" name="costumeremail" required><br><br>
        <input type="submit" value="Register Costumer">
    </form>
    <div>
        <p>{{ msg }}</p>
    </div>
</div>

{% endautoescape %}
{% endblock %}