<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Change Password</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='login_form.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="wrapper fadeInDown">
			<div id="formContent">
				<!-- Tabs Titles -->
			  
				<h2 class="active"> Password Reset </h2>
			  		  		  
			  	<!-- Change Password Form -->
					<form action="{{ url_for('changepassword', email=email) }}" method="post" autocomplete="off">

					<input type="password" id="new_password" class="fadeIn first" 
									 name="new_password" placeholder="New Password" required>

					<input type="password" id="new_password" class="fadeIn first" 
									 name="new_password_repeat" placeholder="Repeat Password" required>
					
					<input type="submit" class="fadeIn second" value="Change Password">

					<div class="msg">{{ msg }}</div>
			  	</form>
		  
			</div>
		  </div>
	</body>
</html>