<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='login_form.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>

		<div class="wrapper fadeInDown">
			<div id="formContent">
			  <!-- Tabs Titles -->
			  
              <h2><a href="{{ url_for('login') }}" class="active"> Sign In </a></h2>
			  <h2><a href="{{ url_for('register') }}" class="inactive underlineHover"> Sign Up </a></h2>
		  		  
			  <!-- Login Form -->
			  <form action="{{ url_for('login') }}" method="post">
				<input type="text" id="username" class="fadeIn second"
									 name="username" placeholder="username" required>

				<input type="password" id="password" class="fadeIn third" 
									 name="password" placeholder="password" required>
									 
				<input type="submit" class="fadeIn fourth" value="Log In">

				<div class="msg">{{ msg }}</div>
			  </form>
		  
			  <!-- Remind Passowrd -->
			  <div id="formFooter">
				<a class="underlineHover" href="{{ url_for('reset') }}">Forgot Password?</a>
			  </div>
		  
			</div>
		  </div>
</html>




