{% extends 'layout.html' %}

{% block title %}manage{% endblock %}

{% block content %}
{% autoescape false %}

<h2>Manage</h2>
<div>
    <p>Enter password properties:</p>
    <form action="{{ url_for('manage') }}" method="post" autocomplete="off">

        <label for="passwordlegnth">Password Length:</label><br>
        <input type="number" id="passwordlegnth" name="passwordlegnth" required><br>

        <label for="passwordhistory">Password History:</label><br>
        <input type="number" id="passwordhistory" name="passwordhistory" required><br>

        <label for="loginattempts">Login Attempts: :</label><br>
        <input type="number" id="loginattempts" name="loginattempts" required><br>

        <label for="dictionarydenial">Dictionary Denial:</label>
        <input type="checkbox" id="dictionarydenial" name="dictionarydenial" ><br>

        <label for="p_AZ">A-Z:</label>
        <input type="checkbox" id="p_AZ" name="p_AZ" ><br>

        <label for="p_az">a-z:</label>
        <input type="checkbox" id="p_az" name="p_az" ><br>

        <label for="p_09">0-9:</label>
        <input type="checkbox" id="p_09" name="p_09" ><br>

        <label for="p_sym">@~:</label>
        <input type="checkbox" id="p_sym" name="p_sym" ><br>

        <br><input type="submit" value="Update Password Configuration">
    </form>
    <div>
        <p>{{ msg }}</p>
    </div>
</div>

{% endautoescape %}
{% endblock %}