{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>

    
    

    <form action="{{ url_for('profile') }}" method="post">
        <input type="password" name="password" placeholder="Enter Old password" id="password" required>
        <input type="submit"  value="Change Password">
    </form>
    <div class="msg">{{ msg }}</div>
    

</div>
{% endblock %}