<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='login_form.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>

		<div class="wrapper fadeInDown">
			<div id="formContent">
			  <!-- Tabs Titles -->
			  
				<h2><a href="{{ url_for('login') }}" class="inactive underlineHover"> Sign In </a></h2>
				<h2><a href="{{ url_for('register') }}" class="active"> Sign Up </a></h2>
		  		  
			  <!-- Register Form -->
				<form action="{{ url_for('register') }}" method="post" autocomplete="off">
					<input type="text" id="username" class="fadeIn first"
										name="username" placeholder="username" required>

					<input type="password" id="password" class="fadeIn second"
										name="password" placeholder="password" required>

					<input type="email" id="email" class="fadeIn fourth" 
										name="email" placeholder="Email" required>
										
					<input type="submit" class="fadeIn fourth" value="Register">

					<div class="msg">{{ msg }}</div>
			  	</form>
		  
			</div>
		</div>
	</body>
</html>