<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Password Reset</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='login_form.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="wrapper fadeInDown">
			<div id="formContent">
				<!-- Tabs Titles -->
			  
				<h2 class="active"> Password Reset </h2>
			  		  		  
			  	<!-- Reset Form -->
				<form action="{{ url_for('reset') }}" method="post">
					
					<input type="email" id="email" class="fadeIn first" 
									name="email" placeholder="Email" required>
					
					<input type="submit" class="fadeIn second" value="Send Reset Code">

					<div class="msg">{{ msg }}</div>
			  	</form>
		  
			</div>
		  </div>
	</body>
</html>